*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:  'Poppins', 'Raleway', 'Lato', 'Noto Sans';
}

html, Body{
    background-color: #111;
    width: 100%;
    height: 100%;
}

body{
    cursor: none;
}

#main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cursor{
    position: fixed;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 5px;
    z-index: 9;
}

#image{
    position: relative;
    height: 30vw;
    width: 60vw;
}

#image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#overlay{
    background-color: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 10;
}
